*{
  margin: 0px;
  padding: 0px;
}
.blog{
  background-color: brown;
  padding: 20px;
  border-radius: 20px;
  margin: 30px;
}
.list{
  margin: 30px;
  color: rgb(159, 118, 3);
  border:  5px solid rgb(252, 255, 71);
  padding: 20px;

}
.image{
  margin: 30px;
  border: 3px solid turquoise;
  
}
#contain{
  padding: 30px;
  height: 250px;
  width:250px ;
}